<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href={{photo_url}} type="image/jpg" />
  <title>{{username}}'s profile</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      gap: 1.5rem;
    }

    * {
      font-family: monospace;
      margin: 0;
    }

    img {
      border-radius: 50%;
    }
  </style>
</head>

<body>
  <h1>Logged in as @{{username}}</h1>
  <img src="{{photo_url}}" alt="{{username}}'s profile picture" />

  <h1>Welcome {{first_name}} {{last_name}}</h1>

  <p>Logged in at {{auth_date}}</p>

  <a href="/logout">Logout</a>
</body>

</html>